## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [107]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [108]:
# Your code here

sample_list_1 = random.sample(range(100),k=80)    
print(sample_list_1)

[86, 10, 76, 88, 91, 55, 82, 70, 12, 6, 18, 49, 85, 36, 68, 92, 19, 43, 8, 4, 29, 83, 28, 11, 89, 40, 94, 67, 34, 37, 87, 80, 3, 26, 27, 41, 23, 7, 48, 22, 20, 58, 50, 59, 32, 51, 81, 46, 65, 57, 15, 75, 35, 95, 9, 78, 17, 98, 72, 63, 44, 90, 13, 45, 31, 54, 42, 61, 62, 0, 77, 93, 5, 21, 71, 60, 64, 1, 84, 79]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [109]:
# Your code here

set1 = set (sample_list_1)
print('Length:',len(set1))

Length: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [110]:
# Your code here

sample_list_2 = [random.randint(1,100) for i in range (80)]

print(sample_list_2)
print(len(sample_list_2))

[85, 59, 46, 42, 59, 54, 3, 62, 3, 49, 40, 84, 62, 71, 73, 88, 16, 36, 35, 39, 84, 25, 16, 18, 87, 59, 6, 16, 64, 70, 16, 15, 6, 71, 15, 80, 20, 41, 88, 33, 9, 80, 43, 66, 7, 78, 7, 12, 79, 84, 6, 42, 82, 17, 95, 12, 80, 4, 73, 46, 89, 56, 1, 69, 97, 1, 50, 45, 39, 54, 10, 94, 20, 21, 93, 58, 17, 21, 70, 87]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [111]:
# Your code here

set2 = set (sample_list_2)
print('Length:',len(set2))

Length: 51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [112]:
# Your code here

set3 = set1 - set2
print(set3)

{0, 5, 8, 11, 13, 19, 22, 23, 26, 27, 28, 29, 31, 32, 34, 37, 44, 48, 51, 55, 57, 60, 61, 63, 65, 67, 68, 72, 75, 76, 77, 81, 83, 86, 90, 91, 92, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [113]:
# Your code here

set4 = set2 - set1
print(set4)

{33, 66, 97, 69, 39, 73, 16, 56, 25}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [114]:
# Your code here

set5 = set1 - (set1 - set2)
print(set5)

set5b= set1.intersection(set2)
print(set5b)

{1, 3, 4, 6, 7, 9, 10, 12, 15, 17, 18, 20, 21, 35, 36, 40, 41, 42, 43, 45, 46, 49, 50, 54, 58, 59, 62, 64, 70, 71, 78, 79, 80, 82, 84, 85, 87, 88, 89, 93, 94, 95}
{1, 3, 4, 6, 7, 9, 10, 12, 15, 17, 18, 20, 21, 35, 36, 40, 41, 42, 43, 45, 46, 49, 50, 54, 58, 59, 62, 64, 70, 71, 78, 79, 80, 82, 84, 85, 87, 88, 89, 93, 94, 95}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [115]:
# Your code here

length_set1 = len(set3) + len(set5)
print('Calculated length set1:', length_set1)
length_set2 = len(set4) + len(set5)
print('Calculated length set2:', length_set2)
length_set3 = len(set1) - len(set5)
print('Calculated length set3:', length_set3)
length_set4 = len(set2) - len(set5)
print('Calculated length set4:', length_set4)
length_set5 = len(set1) - len(set3)
print('Calculated length set5:', length_set5)


print('Length set1:',len(set1))
print('Length set2:',len(set2))
print('Length set3:',len(set3))
print('Length set4:',len(set4))
print('Length set5:',len(set5))

Calculated length set1: 80
Calculated length set2: 51
Calculated length set3: 38
Calculated length set4: 9
Calculated length set5: 42
Length set1: 80
Length set2: 51
Length set3: 38
Length set4: 9
Length set5: 42

#### Create an empty set called `set6`.

In [116]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [117]:
# Your code here
set6 = set3.update(set5)
print(set6)
###update method returns nothing

None

#### Check if `set1` and `set6` are equal.

In [118]:
# Your code here

print(set1 == set6)

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [119]:
# Your code here

print(set2.issubset(set1))

print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [120]:
# Your code here
print((set3.union(set4,set5)) == set1.union(set2))

True

#### Using the `pop` method, remove the first element from `set1`.

In [121]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [122]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set_to_remove = set(list_to_remove)

new_set1 = set1 - set_to_remove

print(new_set1)

{3, 4, 5, 6, 7, 8, 10, 12, 13, 15, 17, 18, 20, 22, 23, 26, 27, 28, 32, 34, 35, 36, 37, 40, 42, 43, 44, 45, 46, 48, 50, 54, 55, 57, 58, 60, 62, 63, 64, 65, 67, 68, 70, 72, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 98}